h1{
    color: whitesmoke;
    font-size: 60px;
    font-family: 'Italianno', cursive;
}
p{
    color: #919191;
    font-size: 20px;
    text-align: left;
    line-height: 28px;
    font-family: 'K2D', sans-serif;
    font-weight: 100;
}

#home-box{
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;


}

#home-box-child{
    width: 50vw;
}