#projects-card-box{
    transition: all 700ms;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 83% auto;
    grid-template-rows: 20% 80%;
    min-height: 50px;
}

#projects-card-box:hover{
    background-color: #252525;
}

#pj-card-a{
    text-decoration: none;
}

#projects-card-box h2{
    margin: 5px;
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: 'Italianno', cursive;
    font-size: 35px;
}

#projects-card-box p{
    margin: 5px;
    grid-column: 1/3;
    grid-row: 2/3;
    font-family: 'K2D', sans-serif;
    font-size: 15px;
    margin-top: 18px;
}

.project-logo{
    width: 50px;
    border-radius: 100%;
    margin-top: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
}
