
body{
  background-image: url("../public/img/bg.jpg");
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position:bottom;
    background-color: black;
}
*{
  color: whitesmoke;
}
a{
  text-decoration: underline #91919171 1px;
  color: whitesmoke;
  margin-left: 1px;
  transition: all ease-in-out 300ms  ;
  
}
a:hover{
  text-decoration: underline whitesmoke 1px;
}
.App{
  height: 89vh;
  overflow-y: scroll;
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 80%, transparent);
}

/* *{
  border: white solid 1px;
} */

/*  THIS THE SCROLL-BARR */
/* width */
::-webkit-scrollbar {
  width: 7px;

}

/* Track */
::-webkit-scrollbar-track {
  
  border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #919191; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: whitesmoke; 
}

/* END OF SCHROLL BAR */


/* font-family: 'Italianno', cursive;
font-family: 'K2D', sans-serif;
font-family: 'VT323', monospace; */

